* text=auto

*.md         diff=astextplain
*.markdown   diff=astextplain
*.mdown      diff=astextplain
*.mkdn       diff=astextplain
*.md         diff=astextplain
*.mkd        diff=astextplain
*.mdwn       diff=astextplain
*.mdtxt      diff=astextplain
*.mdtext     diff=astextplain
*.text       diff=astextplain
